SzybkaKompletacja/bin/Debug/de
SzybkaKompletacja/bin/Debug/ru
SzybkaKompletacja/bin/Debug/Logs
SzybkaKompletacja/bin/Debug/ja
SzybkaKompletacja/bin/Debug/es
SzybkaKompletacja/ja
SzybkaKompletacja/obj/Debug
SzybkaKompletacja/bin
IMAGES
