<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2013LightGray</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <connectionStrings>
    <!--<add name="WagaDuzaModel" connectionString="metadata=res://*/WagaDuza.csdl|res://*/WagaDuza.ssdl|res://*/WagaDuza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFOHELP\INFOHELP;initial catalog=INFOHELP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework" providerName="System.Data.EntityClient" />-->
    <add name="WagaDuzaModel" connectionString="metadata=res://*/WagaDuza.csdl|res://*/WagaDuza.ssdl|res://*/WagaDuza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFOHELP\INFOHELP;initial catalog=INFOHELP;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="KOMPLETACJAEntities" connectionString="metadata=res://*/WagaDuza.csdl|res://*/WagaDuza.ssdl|res://*/WagaDuza.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=INFOHELP\INFOHELP;initial catalog=KOMPLETACJA;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="WAGAOF" value="0" />
    <add key="DEBUGPORT" value="0" />
    <add key="MIERNIK" value="Axis" />
    <add key="APPPATH" value="\\192.168.101.7\shared\samochody\" />
    <add key="BAUD" value="9600" />
    <add key="PAR" value="None" />
    <add key="SBITS" value="One" />
    <add key="DBITS" value="8" />
    <add key="PORT" value="COM4" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>